name: docker

on:
  push:
    tags:
      - "*"

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      IMAGE_NAME: flowerrealm/realms
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22.x"
          cache: true

      - name: Go test
        run: go test ./...

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build date
        id: build_date
        run: echo "value=$(date -u +%Y-%m-%dT%H:%M:%SZ)" >> $GITHUB_OUTPUT

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=tag
            type=raw,value=latest

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            REALMS_VERSION=${{ github.ref_name }}
            REALMS_BUILD_DATE=${{ steps.build_date.outputs.value }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push (backend only)
        uses: docker/build-push-action@v5
        with:
          context: .
          target: backend
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ env.IMAGE_NAME }}:${{ github.ref_name }}-backend
            ${{ env.IMAGE_NAME }}:backend
          build-args: |
            REALMS_VERSION=${{ github.ref_name }}
            REALMS_BUILD_DATE=${{ steps.build_date.outputs.value }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
