name: release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22.x"
          cache: true

      - name: Go test
        run: go test ./...

      - name: Build artifacts
        run: bash "./scripts/build-release.sh" "${{ github.ref_name }}" "dist"

      - name: GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/*
